[project]
	description = SampleProjectForPullAndPush
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PradeepNaikR
[access "refs/for/refs/*"]
	read = group user/PradeepNaikR
	push = group user/PradeepNaikR
	label-Code-Review = -2..+2 group user/PradeepNaikR
	label-Verified = -1..+1 group user/PradeepNaikR
	rebase = group user/PradeepNaikR
	removeReviewer = group user/PradeepNaikR
	submit = group user/PradeepNaikR
[access "refs/heads/*"]
	read = group user/PradeepNaikR
	create = group user/PradeepNaikR
	push = +force group user/PradeepNaikR
	pushMerge = group user/PradeepNaikR
[access "refs/tags/*"]
	push = group user/PradeepNaikR
	push = +force group user/PradeepNaikR
